@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blinking-cursor {
  animation: blink 0.5s infinite alternate;
}

@keyframes blink {
  from {
    border-bottom: 3px solid transparent; /* Start with transparent underline */
  }
  to {
    border-bottom: 3px solid yellow; /* Blinking yellow underline */
  }
}